In [27]:
import pandas as pd
import datetime

In [50]:
df = pd.read_parquet('data/data.parquet', engine='pyarrow')
print(df)

                       fecha    precio precioAnterior precioApertura  \
0 2024-08-11 19:14:13.926194  56510.00       56610.00       56700.00
1 2024-08-11 19:16:22.435557     43.70          43.38          43.50

  precioMaximo precioMinimo VolNominal       VolEfectivo VolPromedio  \
0     56970.00     56050.00     25.000  3.565.376.346,30           -
1        43.79        42.75        228        629.107,32           -

  VolumenPorc ticker
0          -%   AE38
1          -%  AE38D

In [33]:
datos: dict = {'ticker': 'AE38', 'fecha': datetime.datetime(2024, 8, 11, 18, 12, 20, 303242), 'precio': '56510.00', 'precioAnterior': '56610.00', 'precioApertura': '56700.00', 'precioMaximo': '56970.00', 'precioMinimo': '56050.00', 'VolNominal': '25.000', 'VolEfectivo': '3.565.376.346,30', 'VolPromedio': '-', 'VolumenPorc': '-%'}
print(type(datos))

<class 'dict'>

In [34]:
print(datos)

{'ticker': 'AE38', 'fecha': datetime.datetime(2024, 8, 11, 18, 12, 20, 303242), 'precio': '56510.00', 'precioAnterior': '56610.00', 'precioApertura': '56700.00', 'precioMaximo': '56970.00', 'precioMinimo': '56050.00', 'VolNominal': '25.000', 'VolEfectivo': '3.565.376.346,30', 'VolPromedio': '-', 'VolumenPorc': '-%'}

In [35]:
df_data = pd.DataFrame([datos])
df_data

,ticker,fecha,precio,precioAnterior,precioApertura,precioMaximo,precioMinimo,VolNominal,VolEfectivo,VolPromedio,VolumenPorc
0,AE38,2024-08-11 18:12:20.303242,56510.00,56610.00,56700.00,56970.00,56050.00,25.000,"3.565.376.346,30",-,-%

In [40]:
print(df.columns)

Index(['fecha', 'precio', 'precioAnterior', 'precioApertura', 'precioMaximo',
       'precioMinimo', 'VolNominal', 'VolEfectivo', 'VolPromedio',
       'VolumenPorc'],
      dtype='object')

In [37]:
print(df_data.columns)

Index(['ticker', 'fecha', 'precio', 'precioAnterior', 'precioApertura',
       'precioMaximo', 'precioMinimo', 'VolNominal', 'VolEfectivo',
       'VolPromedio', 'VolumenPorc'],
      dtype='object')

In [22]:
df.concat(df_data)

AttributeError: 'DataFrame' object has no attribute 'concat'

In [12]:
df

Empty DataFrame
Columns: [fecha, precio, precioAnterior, precioApertura, precioMaximo, precioMinimo, VolNominal, VolEfectivo, VolPromedio, VolumenPorc]
Index: []